@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One');

:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #444;
  --navy: #17050F;
  --blue: #2d9aa1;
  --white: #fff;
  --accent-primary: rgb(192, 35, 11);
  --accent-complement: #EDBE02;
  --accent-secondary: #4BD1CC;
  --accent-tertiary: #BCA6E0;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
header > *,
.hero > *,
main,
p,
.tmpl-post li,
img {
  max-width: 44.5rem; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}

h1, h2, h3 {
  font-family: 'Alfa Slab one', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}
p {margin: 0}
p + p {margin-top: 1em}

header > *,
.hero > *,
main {
  padding: 1rem;
  margin: 0 auto;
}
main :first-child {
  margin-top: 0;
}
header {
  border-width: 0 0 1px;
  border-image: linear-gradient(60deg, var(--darkgray), var(--gray), var(--gray), #555) 1;
}
header > * {
  padding: 0.5em;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  background-color: var(--accent-primary);
  color: var(--white); 
  font-size: 1.25em;
  line-height: 2.75em;
  -webkit-text-stroke: 1px var(--darkgray);
  border-width: 4px 0 2px;
  border-image: linear-gradient(60deg, var(--gray), var(--lightgray), var(--lightgray), #777) 1;
}
.hero > * {
  padding-right: 5%;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}


a[href*='github.com'],
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  background: #f6f6f6;
  border:1px dotted #ddd;
  padding: 0 4px;
  background: #eee;
  color: green;
  border-radius: 0.25em;
}
a[href*='github.com']:visited {
  color: lightseagreen;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background: #333;
  color: lightgreen;
}
pre code {
  border:0;
  background: transparent;
  color: lightgreen;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  display: inline-block;
  font-size: 1.5em; /* 16px /16 */
  margin: 0.25em 0;
  font-weight: normal;
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  list-style: none;
  float: right;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-date {
  float: left;
  clear: left;
  width: 3.75rem; 
  height: 3.75rem;
  margin: 0 0.75em 1em 0;
  background: radial-gradient(#fff 30%, #ccc 100%); 
  border: 1px solid #d6d6d6;
  border-radius: 4rem;
  text-align: center; 
  overflow:hidden;
  background: radial-gradient(#fff 30%, #ccc 100%); 

}
.postlist-date .mo {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.675em;
  background: radial-gradient(#ddd 60%, #999 100%); 
  width: 8rem;
  height: 8rem;
  margin-top:-6.75rem;
  margin-left: -2.15rem;
  padding: 7rem 0 0px;
  border-radius: 5rem;

}
.postlist-date .day {
  font-size: 1.75rem;
  display: block;
  font-weight: bold;
  padding: 1px;
}

.postlist h4 {
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 0;
}
.postlist h4 a {
  text-decoration: none;
  color: var(--darkgray);
}
.postlist h4 a:hover,
.postlist h4 a:active {
  color: var(--blue)
}
.postlist h4 a:visited {
  color: #777;
}
.postlist .tags {
  display: block;
  text-align: right;
}



/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--accent-secondary);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
