---
layout: layouts/base.njk
templateClass: tmpl-home
---
{% block hero %}
  <div class="hero">
  <div>
    <h1>
        Bringing modern automation, 
        monitoring and entertainment to a 50-year-old travel trailer.
    </h1>
    </div>
  </div>
{% endblock %}
{% block main %}
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main
{% endblock %}