---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% block main %}
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main
{% endblock %}

<p><a href="{{ '/' | url }}">← Home</a></p>
